// CONTAINER
$container-max-width: 100%;
$container-width: 1010px;

// BREAKPOINT MEDIA
$xxs: 576p;
$xs: 767px;
$md: 991px;
$lg: 1024px;

//COLOR
// $gray-border-element: #c4c6cd;
// $red-error: #c14f45;
// $headTable: #797979;
// $black-color: #090a0b;
// $white-color: #ffffff;
// $gray-border: #d9d9d9;
// $line: #a3a5ae;
// $gradientClFirst: "#46C0EA";
// $gradientClSecond: "#3A59FF";

$title-sidebar: #3266c4;
$main-color: #5ab2ff;
$main-hover: #a0deff;
$main-bg: #f9f9f9;
$text-color: #31363f;
$white-color: #ffffff;

//PADDING
$pd: 5rem;

//TIME
$t: 0.4s;

//BORDER
$border-radius: 3px;
